<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>textutils</title>
</head>
<body>
    <h1>welcome to the text analyzer. Enter your text below</h1>

    <form action="/analyze" method="get">
        
            <textarea name = 'text' style="width: 1230px; height: 128px;" data-lt-tmp-id="lt-568231" spellcheck="false" data-gramm="false"> 
            
            </textarea> 
            <br>
            <input type="checkbox" name="removepunc"> Remove punctuations
            <br>
            <input type="checkbox" name="fullcaps"> UPPERCASE
            <br>
            <input type="checkbox" name="newlineremover"> New line remover
            <br>
            <input type="checkbox" name="removespace"> Remove Space
            <br>
            <input type="checkbox" name="charcount"> Count characters
            <br>
        <button type="submit">Analyze text</button>
    </form>
    
</body>
</html>